* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url("assests/images/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: max(1200px, 100vw);
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.6;
    position: absolute;
    top: 0;
    background-color: black;
    border-bottom: 3px solid gray;
}

nav {
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    position: relative;
    z-index: 10;
}

nav span{
    color: red;
    position: relative;
    width:135px;
    z-index: 10;
    font-size: 28px;
    font-family:  'Trebuchet MS', sans-serif;
}

.hero {
    height: 89%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    z-index: 1;
    font-family: 'Trebuchet MS', sans-serif;
    gap: 29px;
    padding: 0 30px;

}

.hero> :first-child {

    font-weight: 800;
    font-size: 50px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 200;
    font-size: 20px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 200;
    font-size: 20px;
    text-align: center;
}

.btn {
    padding: 5px 15px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.292);
    color: white;
    border: 1.3px solid rgba(255, 255, 255, 0.481);
    cursor: pointer;
    margin: 10px;
    border-radius: 4px;

}

.btn-red {
    background-color: red;
    color: white;
    padding: 12px 40px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.btn-red-sn {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

.main input {
    padding: 12px 40px;
    border: 1.2px solid rgba(255, 255, 255, 0.41);
    border-radius: 7px;
    background-color: rgba(23, 23, 23, 0.4);
    color: white;
    margin: 10px;

}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}

.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 51px;
    right: 0px;
    width: 555px;
}

section.first>div {
    display: flex;
    flex-direction: column;
  padding:34px 0;
    font-family: 'Trebuchet MS', sans-serif;

}

section.first>div :first-child {
    font-size: 48px;
    font-weight: 600;
    column-gap: 10px;
}

section.first>div :nth-child(2) {
    font-size: 26px;
    font-weight: 200;
    line-height: 35px;
}

section {
    border-bottom: 2px solid rgba(128, 128, 128, 0.673);
}

.faqbox {
    display: flex;
    color: white;
    font-size: 20px;
    justify-content: space-between;
    background-color: rgba(128, 128, 128, 0.437);
    margin: 12.5px auto;
    padding: 20px;
    font-weight: 100;
    max-width: 60vw;
    cursor: pointer;
    font-family: 'Trebuchet MS', sans-serif;

}

.faq h2 {
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    padding: 30px;


}

.faq svg {
    color: white;

}

.faqbox:hover {
    background-color: rgba(128, 128, 128, 0.758);
}

footer {
   color:white;
   max-width: 60vw;
   margin:auto;
   padding: 60px;

}
footer .questions{
    padding:34px 0;
}
.footer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color:white;
}
.footer-item{
    display:flex;
    flex-direction: column;
    gap:23px;
}
.footer a{
    font-size: 14px;
    color:white;
    
}

@media screen and (max-width: 1300px){
    .footer{
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap:25px;
    }
}

@media screen and (max-width: 1300px){
    nav{
        max-width:90vw;
    }
    .first{
        flex-wrap: wrap;
    }
    .secImg img{
        width:305px;
    }
    .secImg video{
        width:305px;
    }
    .hero> :nth-child(1){
        font-size: 32px;
    }
    .hero> :nth-child(2){
        font-size: 18px;
    }
    .hero> :nth-child(3){
        font-size: 18px;
    }
    .hero-buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:16px;
    }
    .faq h2{
        text-align: center;
        font-size: 32px;
    }
    footer{
        max-width: 90vw;
        padding:75px 0;
    }
    .footer-item{
        align-items: center;
    }
}